/* stilos */
*{
  /* box-sizing: border-box; */
}
@font-face{
  font-family: charter;
  src: url(../fonts/fonts/charter-regular.otf);
  font-style: normal;
  font-weight: 400;

}
@font-face{
  font-family: charter;
  src: url(../fonts/fonts/charter-italic.otf);
  font-style: italic;
  font-weight: 400;

}
@font-face{
  font-family: charter;
  src: url(../fonts/fonts/charter-bold.otf);
  font-style: normal;
  font-weight: bold;

}
@font-face{
  font-family: charter;
  src: url(../fonts/fonts/charter-bold-italic.otf);
  font-style: italic;
  font-weight: bold;

}

:root{
  font-size:18px;
  --colortext1:#212121;
  --colortext2:#616161;
  --colortext3:#212429;
 
}
html{
  scroll-behavior: smooth;
}

body {
  color: var(--colortext1);
  font-size: 16px;
  /* font-family: charter; */
  font-family: 'Roboto', sans-serif;
  margin: 0;
  
}

.fondo{
  background-image:linear-gradient(to top,rgba(255,255,255,.3), transparent), url(../img/pattern.png);
  height: 350px;

}

a {
  color: var(--colortext1);
}
header{
  font-size:14px;
  color: var(--colortext2);
  width: 188px;
  /* height:536px; */
  position:absolute;
  /* position: relative; */
  top: 64px;
  left: -130px;
  
}
header a{
  color: var(--colortext2);
  text-decoration: none;
}
header a:hover{
  color: var(--colortext1);
}
nav details summary{
  font-weight: bold;
  /* line-height:24px; */
}
header li{
  margin-bottom:16px;
}

h1 {
  font-size: 60px;
  margin-top: 64px;
  margin-bottom:16px;
  font-weight: normal;
}
/* h1 ~ p{
  margin-bottom:64px;
} */
hr{
  margin: 64px 0;
  display: none;
}
h2{
  font-size:2em;
  margin: 64px 0 40px;
  /* margin-bottom: 64px;  */
  font-weight: normal;
}
h3{
  font-size:1.5em;
  margin-top: 16px;

  margin-bottom: 24px;
  font-weight: normal;
  position: sticky;
  top: 0;
  background:white;

}
.header{
  position: sticky;
  top: 0;
}
.header-content{
  position: relative;
  /* position: absolute; */
  
}
/* .section-content + hr{
  display: none;
} */

.main{
  margin-left:220px;

}
.wrapper{
  width: 902px;
  margin: auto;
}
.main-content{
  /* padding:20px; */
  background:white;
}

.section-content {
  counter-reset: titleList;
  margin-top:164px;
  position: relative;
}
.section-content:first-of-type{
  margin: 0;
}
.section-content ol li{
  line-height: 24px;
}
.section-content ul li{
  margin-bottom: 16px;

}
/* .section-content + hr {
  display: none;
} */
.section.content img{
  margin-top:40px;
}
.section-content h3{
  counter-increment: titleList;
  padding-bottom: 8px;
}
.section-content h3::before{
  content: counter(titleList, decimal) '. ';
   

}
.section-content h3::after{
  content:'';
  width: 80px;
  height:4px;
  background: var(--colortext1);
  display:inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

pre{
  background: #FEC62E;
  padding: 40px;
  font-family: 'Rotobo';
  line-height:24px;
}
blockquote{
  font-size:24px;
  margin: 32px 0;
  padding-left: 16px;
  line-height:24px;
  border-left: 4px solid var(--colortext3);
}
blockquote span{
  color: var(--colortext2);
}
blockquote span::before{
  content:'_';
}

