/* stilos */
@font-face{
  font-family: charter;
  src: url(../fonts/fonts/charter-regular.otf);
  font-style: normal;
  font-weight: 400;

}
@font-face{
  font-family: charter;
  src: url(../fonts/fonts/charter-italic.otf);
  font-style: italic;
  font-weight: 400;

}
@font-face{
  font-family: charter;
  src: url(../fonts/fonts/charter-bold.otf);
  font-style: normal;
  font-weight: bold;

}
@font-face{
  font-family: charter;
  src: url(../fonts/fonts/charter-bold-italic.otf);
  font-style: italic;
  font-weight: bold;

}

:root{
  font-size:18px;
  --white1:white;
  --white2: #A5A3A5;
  --white3:#3A3539;
 
}

body {
  color: var(--white1);
  font-size: 16px;
  font-family: 'nunito', sans-serif;
  background: #251F24;
  ;
}

.fondo{
  background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  height: 350px;

}

a {
  color: var(--white1);
}
header{
  font-size:14px;
  color: var(--white1);
}
header li {
  color: var(--white2);
}
header a{
  color: var(--white2);
  text-decoration: none;
}
header a:hover{
  color: var(--white1);
}
nav details summary{
  font-weight: bold;
}
h1, h2, h3 {
  font-weight:normal;
}
h1 {
  font-size: 60px;
 
}
h2{
  font-size:2em;
 
}
h3{
  font-size:1.5em;

}
p{
  color: var(--white2);
}
.section-content {
  counter-reset: titleList;
}
.section-content h3{
  counter-increment: titleList;
}
.section-content h3::before{
  content: counter(titleList, decimal);

}
.section-content h3::after{
  content:'';
  width: 32px;
  height:4px;
  background: var(--white1);
  display:inline-block;
}

pre{
  background: var(--white3);
}